<div class="center center-user-data">
    <button class="btn_left_arrow" (click)="returnToSelectUser()">
        <fa-icon [icon]="arrow" class="fa-2x"></fa-icon>
    </button>
    <div style="overflow: auto;">
        <div class="row_repos" *ngFor="let arr of array">
            <div class="flex">
                <P>Repository Name</P>
                <P>Owner</P>
                <P>Branch</P>
                <P>Last Commit</P>
            </div>
            <div>
                <div class="flex">
                    <span>{{arr.repositoryName}}</span>
                    <span>{{arr.loginOfRepositoryOwner}}</span>
                </div>
                <div class="flex reverse" *ngFor="let branch of arr.branches">
                    <span class="m_20">{{branch.commit}}</span>
                    <span>{{branch.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>