<div class="center center-user-data">
    <button></button>
    <div>
        <div>
            <div>
                <span>RepositoryName</span>
                <span>LoginOfRepositoryOwner</span>
            </div>
            <div>
                <span>branch1</span>
                <span>commit1</span>
            </div>
        </div>
        <div>
            <div>
                <span>RepositoryName</span>
                <span>LoginOfRepositoryOwner</span>
            </div>
            <div>
                <span>branch1</span>
                <span>commit1</span>
            </div>
        </div>
    </div>
</div>