$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 5% 0 0;
  margin-top: 5%;
  width: 80%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  margin-top: 50%;
  margin-left: 10%;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__label {
  position: absolute;
  width: 100%;
  max-height: 50px;
  margin-top: 15%;
  margin-left: 9%;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}


.center {
    background-color: #ededed;
    padding: 70px 0;
    border: 4px solid #0275d8;
    text-align: center;
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
    margin-top: 15vh;
    border-radius: 30px;
    top: calc(50% - 137px);
    display: flex !important;
    flex-direction: column !important;
    padding: 50px 55px 65px 55px !important;
  }

  .submit_btn {
    background: #0275d8 !important;
    color: white;
    font-family: sans-serif;
    border-radius: 30px;
    margin-top: 20%;
    margin-left: 20%;
    transition: border-color 0.2s;
    border: px solid #8a8a8a;
  }